@using WebApplication5.Models
@using System.Threading;

@model List<DictCities>
@{
    ViewBag.Title = "showDictCities";
}

<h3>Города</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Код</th>
        </tr>
    </thead>
    @if (Model.Count() > 0)
    {
        foreach (var city in Model)
        {
            <tr>
                <td>
                    @city.Title
                </td>
                <td>
                    @city.Code
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#@city.Code">
                        Изменить/Удалить
                    </button>
                </td>
                <td>
                    <!-- Модальное окно -->
                    <div class="modal fade" id="@city.Code" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Изменить/Удалить @city.Title</h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                Название:
                                            </td>
                                            <td><input type="text" id="CityTitle-@city.Code" value="@city.Title"></td>

                                        <tr>
                                        <tr>
                                            <td>
                                                Код:
                                            </td>
                                            <td><input type="text" id="CityCode-@city.Code" value="@city.Code"></td>

                                        <tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CancelChangeCity('@city.Code','@city.Title')">Закрыть</button>
                                    <button type="button" class="btn btn-primary" onclick="ChangeCity('@city.Code')">Изменить</button>
                                    <button type="button" class="btn btn-primary" onclick="RemoveCity('@city.Code')">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                Справочник пуст
            </td>
        </tr>
    }

</table>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
    Добавить город
</button>

<!-- Модальное окно -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Добавление города</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>
                            Название:
                        </td>
                        <td><input type="text" id="CityTitle"></td>

                    <tr>
                    <tr>
                        <td>
                            Код:
                        </td>
                        <td><input type="text" id="CityCode"></td>

                    <tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cancel()">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="">Сохранить</button>
            </div>
        </div>
    </div>
</div>
@functions{
    private bool ischecked = false;
     void AddCity(string a)
    {
        ischecked = true;
        // return ischecked;
    }
}

<script type="text/javascript" src="~/Content/jquery.js"></script>
<script>
    function Cancel() {
        $("#CityTitle").val('');
        $("#CityCode").val('');

    }
    //function AddCity() {
    //    var check = true;
    //    check = $("#CityTitle").val() == '' || $("#CityCode").val() == '' ? false : true;
    //    if (check == false) {
    //        alert("не все поля заполнены");
    //    }
    //    else {
    //        var data = {

    //            Title: $("#CityTitle").val(),
    //            Code: $("#CityCode").val(),

    //        };
    //        $.ajax({
    //            type: "POST",
    //            url: "addUser/",
    //            data: JSON.stringify(data),
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            success: function (msg) {
    //                if (mgs = "true") {
    //                    location.reload();
    //                }
    //            }
    //        });
    //    }
    //    }
    function RemoveCity(code) {
        var data = {
            Code: code,
        };
        $.ajax({
            type: "POST",
            url: "RemoveCity/",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (mgs = "true") {
                    location.reload();
                }
            }
        });

    }
    function ChangeCity(code) {
        var data = {
            OlDCode: code,
            Code: $("#CityCode-" + code).val(),
            Title: $("#CityTitle-" + code).val()
        };
        $.ajax({
            type: "POST",
            url: "ChangeCity/",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (mgs = "true") {
                    location.reload();
                }
            }
        });
    }
    function CancelChangeCity(code, title) {
        $("#CityCode-" + code).val(code);
        $("#CityTitle-" + code).val(title);
    }
</script>