@using Radzen
@typeparam TItem
@implements IRadzenFormComponent
@if (Visible)
{
    <div class="ui-listbox-list-wrapper">
    @if (Disabled)
    {
        @if (Data != null)
        {
            <select size="@Data.Count()" style="@Style" class="listbox ui-listbox ui-widget ui-state-default ui-corner-all ui-helper-clearfix" onchange="@OnChange">
            @if (Placeholder != null)
            {
                <option value=null class="ui-listbox-item ui-corner-all">@Placeholder</option>
            }

            @foreach (var item in Data)
            {
                @if (GetValue(item) == (Value != null ? Value.ToString() : ""))
                {
                    <option value="@GetValue(item)" selected="selected" class="ui-listbox-item ui-corner-all">
                        @if(Template != null)
                        {
                            @Template(item)
                        }
                        else
                        {
                            @GetText(item)
                        }
                    </option>
                }
                else
                {
                    <option value="@GetValue(item)" class="ui-listbox-item ui-corner-all">
                        @if(Template != null)
                        {
                            @Template(item)
                        }
                        else
                        {
                            @GetText(item)
                        }
                    </option>
                }
            }
            </select>
        }
    }
    else
    {
        @if (Data != null)
        {
            <select size="@Data.Count()" style="@Style" class="listbox ui-listbox ui-widget ui-state-default ui-corner-all ui-helper-clearfix" onchange="@OnChange">
            @if (Placeholder != null)
            {
                <option value=null class="ui-listbox-item ui-corner-all">@Placeholder</option>
            }

            @foreach (var item in Data)
            {
                @if (GetValue(item) == (Value != null ? Value.ToString() : ""))
                {
                    <option value="@GetValue(item)" selected="selected" class="ui-listbox-item ui-corner-all">
                        @if(Template != null)
                        {
                            @Template(item)
                        }
                        else
                        {
                            @GetText(item)
                        }
                    </option>
                }
                else
                {
                    <option value="@GetValue(item)" class="ui-listbox-item ui-corner-all">
                        @if(Template != null)
                        {
                            @Template(item)
                        }
                        else
                        {
                            @GetText(item)
                        }
                    </option>
                }
            }
            </select>
        }
    }
    </div>
}
@functions {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string TextProperty { get; set; }

    [Parameter]
    public string ValueProperty { get; set; }

    [Parameter]
    public IEnumerable<TItem> Data { get; set; }

    object _value;

    [Parameter]
    public object Value
    {
        get
        {
            return _value;
        }
        set
        {
            if (_value != value)
            {
                _value = object.Equals(value, "null") ? null : value;
                Change?.Invoke(_value);
                ValueChange?.Invoke(Value);
            }
        }
    }

    [Parameter]
    public RenderFragment<TItem> Template { get; set; }

    public bool HasValue
    {
        get
        {
            return Value != null;
        }
    }

    dynamic _form;

    [CascadingParameter]
    public dynamic Form
    {
        get
        {
            return _form;
        }
        set
        {
            if (_form != value)
            {
                _form = value;
                _form.AddComponent(this);
            }
        }
    }

    protected void OnChange(UIChangeEventArgs args)
    {
        Value = args.Value;
    }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public bool Visible { get; set; } = true;

    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public Action<object> Change { get; set; }

    [Parameter]
    public Action<object> ValueChange { get; set; }

    private string GetValue(object item)
    {
        return $"{item.GetType().GetProperty(ValueProperty).GetValue(item)}";
    }

    private string GetText(object item)
    {
        return $"{item.GetType().GetProperty(TextProperty).GetValue(item)}";
    }
}